receivers:
  otlp:
    protocols:
      grpc:
        endpoint: athena-otel-collector:4317
      http:
        endpoint: athena-otel-collector:4318
        cors:
          allowed_origins:
            - "http://*"
            - "https://*"

  # Host metrics
  hostmetrics:
    root_path: /hostfs
    scrapers:
      cpu:
        metrics:
          system.cpu.utilization:
            enabled: true
      disk:
      load:
      filesystem:
        exclude_mount_points:
          mount_points:
            - /dev/*
            - /proc/*
            - /sys/*
            - /run/k3s/containerd/*
            - /var/lib/docker/*
            - /var/lib/kubelet/*
            - /snap/*
          match_type: regexp
        exclude_fs_types:
          fs_types:
            - autofs
            - binfmt_misc
            - bpf
            - cgroup2
            - configfs
            - debugfs
            - devpts
            - devtmpfs
            - fusectl
            - hugetlbfs
            - iso9660
            - mqueue
            - nsfs
            - overlay
            - proc
            - procfs
            - pstore
            - rpc_pipefs
            - securityfs
            - selinuxfs
            - squashfs
            - sysfs
            - tracefs
          match_type: strict
      memory:
        metrics:
          system.memory.utilization:
            enabled: true
      network:
      paging:
      processes:
      process:
        mute_process_exe_error: true
        mute_process_io_error: true
        mute_process_user_error: true

exporters:
  debug:
  otlp:
    endpoint: athena-jaeger:16685
    tls:
      insecure: true
  otlphttp/prometheus:
    endpoint: athena-prometheus:9090
    tls:
      insecure: true
  opensearch:
    logs_index: otel
    http:
      endpoint: athena-opensearch:9200
      tls:
        insecure: true
  otlp/tracetest:
    endpoint: athena-tracetest:4317
    tls:
      insecure: true

processors:
  batch:
    timeout: 100ms
  memory_limiter:
    check_interval: 5s
    limit_percentage: 80
    spike_limit_percentage: 25
  transform:
    error_mode: ignore
    trace_statements:
      - context: span
        statements:
          # could be removed when https://github.com/vercel/next.js/pull/64852 is fixed upstream
          - replace_pattern(name, "\\?.*", "")
          - replace_match(name, "GET /api/products/*", "GET /api/products/{productId}")

connectors:
  spanmetrics:

service:
  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ memory_limiter, transform, batch ]
      exporters: [ otlp, debug, otlp/tracetest, opensearch, spanmetrics ]
    metrics:
      receivers: [ hostmetrics, otlp, spanmetrics ]
      processors: [ memory_limiter, batch ]
      exporters: [ otlphttp/prometheus, debug ]
    logs:
      receivers: [ otlp ]
      processors: [ memory_limiter, batch ]
      exporters: [ opensearch, debug ]
  telemetry:
    metrics:
      level: detailed
      readers:
        - periodic:
            interval: 10000
            timeout: 5000
            exporter:
              otlp:
                protocol: grpc
                endpoint: athena-otel-collector:4317
