default:
  # List of environment variables applied to all components
  env:
    - name: FEIGN_CLIENT_CORE_URL
      value: http://athena-core:8081
    - name: ATHENA_DB_HOSTNAME
      value: athena-db
    - name: ATHENA_DB_PORT
      value: '5432'
    - name: ATHENA_DB_DATABASE
      value: athena
    - name: ATHENA_DB_USERNAME
      value: athena
    - name: ATHENA_DB_PASSWORD
      value: athena
    - name: FLYWAY_ENABLED
      value: 'true'
    - name: OTEL_TRACING_ENABLED
      value: 'false'

  # Allows overriding and additions to .Values.default.env
  envOverrides: [ ]

  #  - name: OTEL_K8S_NODE_NAME
  #    value: "someConstantValue"
  image:
    repository: docker.io
    # Overrides the image tag whose default is the chart appVersion.
    # The service's name will be applied to the end of this value.
    tag: "latest"
    pullPolicy: IfNotPresent
    pullSecrets: [ ]

  # Default # of replicas for all components
  replicas: 1

  # default revisionHistoryLimit for all components (number of old ReplicaSets to retain)
  revisionHistoryLimit: 10

  # Default schedulingRules for all components
  schedulingRules:
    nodeSelector: { }
    affinity: { }
    tolerations: [ ]

  # Default securityContext for all components
  securityContext: { }

ingress:
  enabled: true

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: { }
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

components:
  athena-core:
    enabled: true
    ports:
      - name: http
        value: 8081
    imageOverride:
      repository: "akeshmiri/athena-boot-core"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "50"
    resources:
      limits:
        memory: 512Mi

  athena-git:
    enabled: true
    ports:
      - name: http
        value: 8082
    imageOverride:
      repository: "akeshmiri/athena-boot-git"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "10"
    resources:
      limits:
        memory: 512Mi

  athena-kube:
    enabled: true
    ports:
      - name: http
        value: 8083
    imageOverride:
      repository: "akeshmiri/athena-boot-kube"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "10"
    resources:
      limits:
        memory: 512Mi

  athena-metric:
    enabled: true
    ports:
      - name: http
        value: 8084
    imageOverride:
      repository: "akeshmiri/athena-boot-metric"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "5"
    resources:
      limits:
        memory: 512Mi

  athena-pipeline:
    enabled: true
    ports:
      - name: http
        value: 8085
    imageOverride:
      repository: "akeshmiri/athena-boot-pipeline"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "10"
    resources:
      limits:
        memory: 512Mi

  athena-spec:
    enabled: true
    ports:
      - name: http
        value: 8086
    imageOverride:
      repository: "akeshmiri/athena-boot-spec"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "5"
    resources:
      limits:
        memory: 512Mi

  athena-tms:
    enabled: true
    ports:
      - name: http
        value: 8087
    imageOverride:
      repository: "akeshmiri/athena-boot-tms"
      tag: "2.0.0"
    useDefault:
      env: true
    env:
      - name: DB_POOL_SIZE
        value: "20"
    resources:
      limits:
        memory: 512Mi

  athena-gateway:
    enabled: true
    ports:
      - name: http
        value: 8080
    imageOverride:
      repository: "akeshmiri/athena-gateway"
      tag: "2.0.0"
    useDefault:
      env: true

    mountedConfigMaps:
      - name: athena-gateway-config
        mountPath: /opt/athena/BOOT-INF/classes/application.yml
        subPath: application.yml
        data:
          application.yml: |
            spring:
              cloud:
                gateway:
                  routes:
                    - id: athena-boot-core
                      uri: http://athena-core:8081
                      predicates:
                        - Path=/core/**
                      filters:
                        - StripPrefix=1
                    - id: athena-boot-git
                      uri: http://athena-git:8082
                      predicates:
                        - Path=/git/**
                      filters:
                        - StripPrefix=1
                    - id: athena-boot-kube
                      uri: http://athena-kube:8083
                      predicates:
                        - Path=/kube/**
                      filters:
                        - StripPrefix=1
                    - id: athena-boot-metric
                      uri: http://athena-metric:8084
                      predicates:
                        - Path=/metric/**
                      filters:
                        - StripPrefix=1
                    - id: athena-boot-pipeline
                      uri: http://athena-pipeline:8085
                      predicates:
                        - Path=/pipeline/**
                      filters:
                        - StripPrefix=1
                    - id: athena-boot-spec
                      uri: http://athena-spec:8086
                      predicates:
                        - Path=/spec/**
                      filters:
                        - StripPrefix=1
                    - id: athena-boot-tms
                      uri: http://athena-tms:8087
                      predicates:
                        - Path=/tms/**
                      filters:
                        - StripPrefix=1

    resources:
      limits:
        memory: 512Mi

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /$1$2
      paths:
        - path: /(core|git|kube|metric|pipeline|spec|tms)(/.*)
          pathType: ImplementationSpecific
          port: 8080
          name: gateway-http
