name: Athena CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}
          cache: maven

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build Athena Core Docker Image
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./mvnw install -DskipTests
          ./mvnw -pl athena-boot-core docker:build
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        if: ${{ github.ref_type != 'tag' }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./mvnw -B verify -P release org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=catools2_athena

      - name: Deploy to GitHub Packages
        if: ${{ github.ref_type == 'tag' }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          ./mvnw org.codehaus.mojo:versions-maven-plugin:2.15.0:set-property -Dproperty=revision -DnewVersion=$GITHUB_REF_NAME -q
          ./mvnw deploy -P release -DskipTests

      - name: Build and Push Docker Images
        if: ${{ github.ref_type == 'tag' }}
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PAT: ${{secrets.DOCKER_PAT}}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PAT
          ./mvnw -pl athena-boot-core package docker:build docker:push
          ./mvnw -pl athena-boot-git package docker:build docker:push
          ./mvnw -pl athena-boot-kube package docker:build docker:push
          ./mvnw -pl athena-boot-metric package docker:build docker:push
          ./mvnw -pl athena-boot-pipeline package docker:build docker:push
          ./mvnw -pl athena-boot-spec package docker:build docker:push
          ./mvnw -pl athena-boot-tms package docker:build docker:push
          ./mvnw -pl athena-gateway package docker:build docker:push
